---
- hosts: all
  become: yes
  roles:
   - create_user
   - set_up_ssh_for_user
    - install_dependencies

- hosts: control_plane
  become: yes
  roles:
    - install_kubectl
    - initialize_cluster
    - install_Pod_network
    - get_join_command

- hosts: workers
  become: yes
  roles:
    - join_workers_in_cluster
