name: Run helm 
on:
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      
    - name: Install SSH Key
      uses: shimataro/ssh-key-action@v2
      with:
          key: ${{ secrets.PROD_KEY }}
          known_hosts: unnecessary

    - name: Adding Known Hosts
      run: ssh-keyscan -p 22 -H ${{ secrets.CONTROL1_IP }}  >> ~/.ssh/known_hosts

    - name: SCP
      run: scp  jenkins_via_helm.sh ubuntu@${{ secrets.CONTROL1_IP }}/home/ubuntu
